:root {
  /* Background */
  --color-bg-screen: #f8f5f0;
  --color-bg-dark: #201f24;
  --color-bg-white: #ffffff;

  /* Text */
  --color-text-dark: #101010;
  --color-text-white: #fafafa;
  --color-text-gray: #afaeb3;

  /* Font */
  --font-main: "Google Sans", sans-serif;
}
