.auth {
  width: 30%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-bg-white);
  border-radius: 1rem;
  margin-top: 10rem;
  padding: 1rem;

  p {
    color: var(--color-text-gray);
    a {
      color: var(--color-text-dark);
      text-decoration: underline;
    }
  }

  &__cta {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  input {
    background: var(--color-bg-screen);
    outline: none;
    border: none;
    font-size: 1.125rem;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
  }

  .error {
    color: red;
  }
}
