.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  &__user {
    font-weight: 700;
    font-size: 1.25rem;
  }
}
