.sidebar {
  background-color: var(--color-bg-dark);
  color: var(--color-text-white);
  height: 100vh;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__logo {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__item {
    margin-right: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--color-bg-screen);
    cursor: pointer;
  }
  &__link {
    display: flex;
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    color: var(--color-text-dark);
  }
}

#btnSidebar {
  align-self: flex-start;
}
